##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
./doc_gui
*.war
*.ear
*.nar
hs_err_pid*
.classpath
.project
####
docker-server
/bin/
lib/
!lib/ojdbc6.jar
